# Goodix USB Fingerprint Reader (27c6:6f94) on HONOR MagicBook Pro 16
SUBSYSTEM=="usb", ATTRS{idVendor}=="27c6", ATTRS{idProduct}=="6f94", MODE="0666", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="27c6", ATTRS{idProduct}=="6f94", GROUP="plugdev"
